---
import { getCollection } from "astro:content"
import Layout from "../../layouts/Layout.astro"
const posts = await getCollection("notes")
---

<!-- ðŸ“„ðŸ“ƒðŸ“‘ðŸ—’ï¸ðŸ“ -->
<Layout
    title="è¨˜äº‹ä¸€è¦§"
    emoji="ðŸ“"
    tone="cool"
    desc="è¨˜äº‹ä¸€è¦§"
>
    <ul class="ms-8">
        {
            posts.map((post) => (
                <li class="list-none">
                    <a href={`/notes/${post.slug}`}>{post.data.title}</a>
                </li>
            ))
        }
    </ul>
</Layout>
