@import "tailwindcss";

/* Font Source */
/* @import "@fontsource/zen-kaku-gothic-new/300.css"; */
/* @import "@fontsource/zen-kaku-gothic-new/400.css"; */
@import "@fontsource/zen-kaku-gothic-new/500.css";
/* @import "@fontsource/zen-kaku-gothic-new/700.css"; */
/* @import "@fontsource/zen-kaku-gothic-new/900.css"; */

@theme static {
  --color-page: var(--page);
  --color-page-dim: var(--page-dim);
  --color-text: var(--text);
  --color-text-dim: var(--text-dim);
  --color-text-bright: var(--text-bright);
  --color-text-link: var(--text-link);
  --color-page-grid: rgb(
    from var(--color-text-dim) r g b / var(--grid-opacity, 12%)
  );
  --color-selection-bg: var(--selection-bg);
  --color-selection: var(--selection);
}

:root {
  --dur-normal: 300ms;

  @media (prefers-color-scheme: light) {
    &[data-tone="warm"] {
      --page: var(--color-stone-200);
      --text: var(--color-stone-800);
      --text-dim: var(--color-stone-500);
      --text-link: var(--color-);
      --selection-bg: rgb(from var(--color-amber-400) r g b / 30%);
      --selection: var(--color-amber-900);
    }

    &[data-tone="cool"] {
      --page: var(--color-slate-100);
      --text: var(--color-slate-900);
      --text-dim: rgb(from var(--color-slate-500) r g b / 70%);
      --text-link: var(--color-);
      --selection-bg: rgb(from var(--color-sky-400) r g b / 30%);
      --selection: var(--color-sky-900);
    }
  }

  @media (prefers-color-scheme: dark) {
    &[data-tone="warm"] {
      --page: var(--color-stone-800);
      --text: var(--color-stone-300);
      --text-dim: var(--color-stone-400);
      --text-link: var(--color-);
      --selection-bg: rgb(from var(--color-amber-700) r g b / 40%);
      --selection: var(--color-amber-50);
    }

    &[data-tone="cool"] {
      --page: var(--color-slate-800);
      --text: var(--color-slate-300);
      --text-bright: var(--color-slate-100);
      --text-dim: var(--color-slate-400);
      --text-link: rgb(from var(--color-yellow-100) r g b / 90%);
      --selection-bg: rgb(from var(--color-cyan-400) r g b / 40%);
      --selection: var(--color-cyan-50);
    }
  }
}

@custom-variant data-scrolled (html[data-scrolled] &);

@layer base {
  body {
    font-family: "Inter", "Zen Kaku Gothic New";
  }

  h1 {
    @apply text-text-bright text-4xl tracking-tight font-semibold;
  }

  article {
    @apply wrap-anywhere break-normal antialiased text-pretty text-base;
    line-break: strict;

    & :where(a) {
      @apply relative -ms-0.5 py-1 px-1 me-0.5 text-text-link h-lh underline underline-offset-4 decoration-current transition-all duration-(--dur-normal) rounded-md;

      &[href^="http"] {
        @apply pe-4.5;
        &::after {
          @apply absolute ms-0.5;
          content: "↗︎";
          font-weight: initial;
          transition: all;
          transition-duration: var(--dur-normal);
        }
      }

      &:hover {
        @apply bg-text-link/15;
      }
    }

    & :where(blockquote) {
      @apply border-s-2 border-text-dim ms-12 mb-8 py-2 before:content-["“”"] before:font-serif before:text-5xl before:font-black before:ms-6 before:tracking-tighter;

      p {
        @apply ms-6 ps-0 m-0;
      }
    }

    & :where(code) {
      @apply bg-text-dim/15 px-2 py-1 text-sm rounded-md font-medium mx-0.5;
    }

    &:where(h1, h2, h3, h4, h5, h6, caption) {
      font-kerning: normal;
      font-feature-settings: "palt";
    }

    & :where(h2) {
      @apply text-text-bright text-3xl mt-12 mb-8 px-8 py-6 font-semibold border-y-2 border-page-grid before:content-["§"] before:text-text-dim before:text-2xl before:me-4;

      background-image: repeating-linear-gradient(
        135deg,
        rgb(from var(--color-page-grid) r g b / var(--stripe-opacity, 10%)) 0,
        rgb(from var(--color-page-grid) r g b / var(--stripe-opacity, 10%)) 1px,
        transparent 0,
        transparent 50%
      );
      background-size: 1rem 1rem;
    }

    & :where(h3) {
      @apply text-text-bright font-semibold border-b-2 border-page-grid;
    }

    & :where(h4) {
      @apply text-text-bright text-xl font-semibold;
    }

    & :where(hr) {
      @apply text-text-dim;
    }

    & :where(ol) {
      @apply leading-loose;

      li {
        list-style-type: decimal;
      }
    }

    & :where(p) {
      @apply px-8 leading-loose;

      & + p {
        @apply mt-6;
      }
    }

    & :where(strong) {
      @apply text-text-bright;
    }

    & :where(ul) {
      @apply leading-loose space-y-1;

      & ul {
        @apply my-3;
      }

      li {
        list-style-type: "–  ";
      }
    }
  }
}

@layer utilities {
  .bg-stripe {
    background-image: repeating-linear-gradient(
      135deg,
      rgb(from var(--color-page-grid) r g b / var(--stripe-opacity, 10%)) 0,
      rgb(from var(--color-page-grid) r g b / var(--stripe-opacity, 10%)) 1px,
      transparent 0,
      transparent 50%
    );
    background-size: 1rem 1rem;
  }

  .text-hoverable {
    @apply text-text-dim hover:text-text transition-all;
    transition-duration: var(--dur-normal);
  }
}
