---
// Lucide Icons
import Github from "@lucide/astro/icons/github"
import Rss from "@lucide/astro/icons/rss"
---

<footer
    class="border-grid bg-stripe text-text-dim flex justify-between border-t-(length:--grid-thickness) p-6"
>
    <span class="before:content-['©_']">Atridott 2026</span>
    <ul class="flex gap-3">
        <li>
            <a
                href="https://github.com/atridott/atridott.github.io/"
                class="hover:text-text-main transition-all"
                ><Github /></a
            >
        </li>
        <li>
            <a
                href="https://github.com/atridott/atridott.github.io/"
                class="hover:text-text-main transition-all"
                ><Rss /></a
            >
        </li>
    </ul>
</footer>
