---
// Lucide Icons
import Github from "@lucide/astro/icons/github"
import Rss from "@lucide/astro/icons/rss"
---

<footer
  class="border-page-grid border-t-2 p-6 text-text-dim flex justify-between **:transition-all **:duration-(--dur-normal)"
>
  <span class="text-text">© Atridott 2026</span>
  <ul class="flex gap-3">
    <li>
      <a
        href="https://github.com/atridott/atridott.github.io/"
        class="text-hoverable"
        ><Github /></a
      >
    </li>
    <li>
      <a
        href="https://github.com/atridott/atridott.github.io/"
        class="text-hoverable"
        ><Rss /></a
      >
    </li>
  </ul>
</footer>
