---
import "../../styles/global.css"

// Lucide Icons
import Bolt from "@lucide/astro/icons/bolt"
import Map from "@lucide/astro/icons/map"
---

<header
    class="bg-page-dim ring-page-grid bg-stripe fixed z-10 flex h-14 w-full justify-center ring-2"
>
    <div class="flex w-full max-w-6xl items-center justify-between px-6 py-4">
        <a
            href="/"
            class="text-text-dim hover:text-text text-base font-normal tracking-tighter transition-all"
        >
            <span class="font-semibold">atridott</span>.github.io
        </a>
        <nav
            class="text-text-dim *:hover:text-text flex h-full gap-4 *:cursor-pointer *:stroke-[2.5]"
        >
            <button>
                <Bolt
                    class="h-full w-full"
                    size={undefined}
                />
            </button>
            <button>
                <Map
                    class="h-full w-full"
                    size={undefined}
                />
            </button>
        </nav>
    </div>
</header>
