---
import "@/styles/global.css";
---

<html lang="en" class="warm">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Onest:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	</head>
	<body>
		<h1>ursus (“馬”) というラテン語は印欧祖語 *h₂ŕ̥tḱʷos に遡ります。</h1>
		<h1>私は古代ギリシャ語では Ἄτριδωττ と呼ばれています（嘘）。</h1>
	</body>
</html>