---
import Layout from "../layouts/Layout.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="img/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>atridott.github.io</title>
  </head>
  <Layout>
    <h1>Welcome to atridott.github.io</h1>
  </Layout>
</html>
