---
import "@/styles/global.css";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
		<h1>ursus (“馬”) というラテン語は印欧祖語 *h₂ŕ̥tḱʷos に遡ります。</h1>
		<h1>私は古代ギリシャ語では Ἄτριδωττ と呼ばれています（嘘）。</h1>
	</Layout>