---
import "../styles/global.css"

// Lucide Icons
import Settings from "@lucide/astro/icons/settings"
import Map from "@lucide/astro/icons/map"
---

<header
  class={`
    pointer-events-none fixed flex h-36 w-full items-start justify-center
    bg-linear-to-b from-slate-100 from-50% to-transparent
  `}
>
  <!-- <div class="fixed top-[3.3rem] h-px w-full bg-slate-900"></div> -->
  <div class={`pointer-events-auto flex h-18 w-full max-w-6xl ps-8 pe-5 pt-2`}>
    <img
      src="/logo.svg"
      alt=""
      aria-hidden
      class="pointer-events-none aspect-square h-full select-none"
    />
    <div class="flex h-full flex-1 items-center justify-end gap-1 pt-2">
      <button
        class={`
          flex h-fit w-fit cursor-pointer items-center justify-center
          rounded-full px-2 py-2 text-slate-500 transition-all
          hover:text-slate-900
          focus:outline-none
          focus-visible:ring-2 focus-visible:ring-slate-500
          active:scale-90
        `}
        aria-label="Open"
      >
        <Settings size="24" />
      </button>
      <button
        class={`
          flex h-fit w-fit cursor-pointer items-center justify-center
          rounded-full px-2 py-2 text-slate-500 transition-all
          hover:text-slate-900
          focus:outline-none
          focus-visible:ring-2 focus-visible:ring-slate-500
          active:scale-90
        `}
      >
        <Map size="24" />
      </button>
    </div>
  </div>
</header>
