---
import "../styles/global.css"

// Font Source
import "@fontsource/zen-kaku-gothic-new/300.css"
import "@fontsource/zen-kaku-gothic-new/400.css"
import "@fontsource/zen-kaku-gothic-new/500.css"
import "@fontsource/zen-kaku-gothic-new/700.css"
import "@fontsource/zen-kaku-gothic-new/900.css"

// Lucide Icons
import Settings from "@lucide/astro/icons/settings"
import ScrollText from "@lucide/astro/icons/scroll-text"

const { title } = Astro.props
---

<header
  class={`
    pointer-events-none fixed top-0 z-10 flex h-32 w-full items-start
    justify-center bg-linear-to-b from-stone-50 from-50% to-transparent
    transition-all duration-300
  `}
>
  <div
    class={`
      pointer-events-auto flex h-fit w-full max-w-6xl justify-between ps-6 pe-4
      pt-4 pb-0
    `}
  >
    <div
      class={`
        relative flex flex-1 items-center
        md:static
      `}
    >
      <svg
        width="50"
        height="22"
        viewBox="0 0 505 220"
        fill="none"
        id="header-logo"
        class={`
          me-6 text-stone-900 opacity-0 transition-all duration-300
          md:translate-0 md:opacity-100
        `}
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
      >
        <>
          <path
            d="M430.841 218.888C418.36 218.888 407.374 216.339 397.882 211.241C388.478 206.144 381.139 199.244 375.865 190.543C370.592 181.754 367.955 171.91 367.955 161.012C367.955 158.551 368.043 156.134 368.219 153.761C368.395 151.3 368.702 148.795 369.142 146.246L372.833 125.153C375.997 107.135 383.688 93.0286 395.904 82.8333C408.209 72.55 423.238 67.4084 440.992 67.4084C453.824 67.4084 464.986 69.9573 474.479 75.0549C484.059 80.1526 491.485 87.0959 496.759 95.885C502.12 104.586 504.801 114.474 504.801 125.548C504.801 127.657 504.669 129.943 504.405 132.404C504.23 134.777 503.922 137.281 503.483 139.918L499.791 161.012C496.627 179.293 488.937 193.531 476.72 203.727C464.503 213.834 449.21 218.888 430.841 218.888ZM440.597 96.9397C431.808 96.9397 424.557 99.7522 418.844 105.377C413.219 110.914 409.44 119 407.506 129.635L404.078 149.41C403.727 151.256 403.463 153.146 403.287 155.079C403.111 156.925 403.024 158.639 403.024 160.221C403.024 168.922 405.748 175.997 411.197 181.447C416.734 186.808 423.722 189.489 432.159 189.489C441.036 189.489 448.287 186.676 453.912 181.051C459.537 175.426 463.316 167.164 465.25 156.266L468.81 136.359C469.073 134.689 469.249 132.931 469.337 131.085C469.513 129.24 469.601 127.57 469.601 126.075C469.601 117.462 466.92 110.475 461.559 105.114C456.197 99.6643 449.21 96.9397 440.597 96.9397Z"
            fill="currentColor"
          ></path>
          <path
            d="M347.758 215.856H222.118L226.996 187.115H273.666L289.618 99.3127H245.321L250.067 70.4407H329.433L308.734 187.115H352.636L347.758 215.856Z"
            fill="currentColor"
          ></path>
          <path
            d="M175.264 218.361C169.99 218.361 165.156 217.042 160.762 214.406C156.367 211.681 152.852 208.077 150.215 203.595C147.578 199.025 146.26 194.059 146.26 188.698C146.26 183.16 147.578 178.151 150.215 173.668C152.852 169.186 156.367 165.626 160.762 162.99C165.156 160.265 169.99 158.903 175.264 158.903C180.625 158.903 185.503 160.265 189.898 162.99C194.292 165.626 197.764 169.186 200.313 173.668C202.949 178.151 204.268 183.16 204.268 188.698C204.268 194.059 202.949 199.025 200.313 203.595C197.764 208.077 194.292 211.681 189.898 214.406C185.503 217.042 180.625 218.361 175.264 218.361Z"
            fill="currentColor"
          ></path>
          <path
            d="M43.7706 218.097C35.2452 218.097 27.6866 216.383 21.0948 212.955C14.5909 209.44 9.4493 204.65 5.67 198.585C1.8907 192.521 0.00105469 185.577 0.00105469 177.755C-0.0868359 162.374 5.31844 150.509 16.2169 142.159C27.2032 133.722 43.1553 129.283 64.0733 128.844L96.6368 128.053L98.087 119.352C98.3507 118.297 98.5264 117.33 98.6143 116.451C98.7022 115.485 98.7462 114.65 98.7462 113.947C98.7462 108.585 96.6807 104.323 92.5499 101.158C88.419 97.9944 82.9259 96.4124 76.0704 96.4124C70.2696 96.4124 65.0841 97.7307 60.5137 100.367C55.9434 103.004 52.7794 106.564 51.0216 111.046H15.6895C17.2716 102.609 21.0509 95.1379 27.0274 88.634C33.004 82.1301 40.5186 77.0325 49.5714 73.3411C58.712 69.5618 68.6436 67.6721 79.3663 67.6721C95.9776 67.6721 109.249 71.6272 119.181 79.5374C129.2 87.4475 134.21 97.9944 134.21 111.178C134.21 112.584 134.166 114.078 134.078 115.66C133.99 117.242 133.815 118.956 133.551 120.802C133.287 122.56 132.936 124.669 132.496 127.13L116.94 215.856H82.6622L86.0899 196.74H83.1895C79.7618 203.595 74.6202 208.868 67.7647 212.56C60.9093 216.251 52.9112 218.097 43.7706 218.097ZM57.7452 189.225C63.2823 189.225 68.336 188.082 72.9063 185.797C77.4766 183.512 81.3438 180.304 84.5079 176.173C87.672 172.042 89.6934 167.252 90.5723 161.803L92.6817 151.256L66.3145 151.783C56.7345 151.959 49.3077 153.849 44.0343 157.452C38.8487 161.056 36.212 166.066 36.1241 172.482C36.1241 177.491 38.1016 181.534 42.0567 184.611C46.0997 187.687 51.3292 189.225 57.7452 189.225Z"
            fill="currentColor"
          ></path>
          <path
            d="M93.9656 50.8421C87.2074 50.8421 81.385 48.3468 76.4983 43.3561C71.7156 38.3655 69.3243 32.3871 69.3243 25.421C69.3243 18.455 71.7156 12.4766 76.4983 7.48595C81.385 2.49532 87.2074 0 93.9656 0C100.828 0 106.65 2.49532 111.433 7.48595C116.319 12.4766 118.763 18.455 118.763 25.421C118.763 32.3871 116.319 38.3655 111.433 43.3561C106.65 48.3468 100.828 50.8421 93.9656 50.8421Z"
            fill="currentColor"
          ></path>
          <path
            d="M317.928 50.8421C311.17 50.8421 305.348 48.3468 300.461 43.3561C295.679 38.3655 293.287 32.3871 293.287 25.421C293.287 18.455 295.679 12.4766 300.461 7.48595C305.348 2.49532 311.17 0 317.928 0C324.791 0 330.613 2.49532 335.396 7.48595C340.282 12.4766 342.726 18.455 342.726 25.421C342.726 32.3871 340.282 38.3655 335.396 43.3561C330.613 48.3468 324.791 50.8421 317.928 50.8421Z"
            fill="currentColor"
          ></path>
        </>
      </svg>
      <div
        id="header-title"
        aria-hidden="true"
        class={`
          absolute left-0 flex max-w-lg flex-1 items-center justify-start pr-4
          font-[Zen_Kaku_Gothic_New] text-base font-bold tracking-tight
          text-stone-900 opacity-0 transition-all duration-300
          before:pe-1.5 before:text-stone-500 before:content-["#"]
          md:static
        `}
      >
        <span class="line-clamp-1 break-all">{title}</span>
      </div>
    </div>

    <nav>
      <ul class="flex gap-1">
        <li>
          <button
            class={`
              flex h-fit w-fit cursor-pointer items-center justify-center
              rounded-full px-2 py-2 text-stone-500 transition-all
              hover:text-stone-900
              focus:outline-none
              focus-visible:ring-2 focus-visible:ring-stone-500
              active:scale-90
            `}
            aria-label="Open"
          >
            <Settings
              size="24"
              stroke-width="1.8"
            />
          </button>
        </li>
        <li>
          <button
            class={`
              flex h-fit w-fit cursor-pointer items-center justify-center
              rounded-full px-2 py-2 text-stone-500 transition-all
              hover:text-stone-900
              focus:outline-none
              focus-visible:ring-2 focus-visible:ring-stone-500
              active:scale-90
            `}
          >
            <ScrollText
              size="24"
              stroke-width="1.8"
            />
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
<script>
  const title = document.getElementById("header-title")
  const logo = document.getElementById("header-logo")

  const handleScroll = () => {
    if (
      window.visualViewport &&
      window.scrollY > window.visualViewport.height * 0.4
    ) {
      title?.classList.add("opacity-100", "translate-y-0", "delay-75")
      title?.classList.remove("opacity-0", "translate-y-4")
      logo?.classList.add("opacity-0", "-translate-y-4")
      logo?.classList.remove("translate-y-0", "delay-75")
    } else {
      title?.classList.remove("opacity-100", "translate-y-0", "delay-75")
      title?.classList.add("opacity-0", "translate-y-4")
      logo?.classList.remove("hidden", "opacity-0", "-translate-y-4")
      logo?.classList.add("translate-y-0", "delay-75")
    }
  }

  handleScroll()
  window.addEventListener("scroll", handleScroll)
</script>
